<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpotShare - User SignUp</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <!-- <script src="server.js"></script> -->
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/styles.css"> <!-- Link to external CSS file -->
</head>

<body>
    <div id="app">
        <div class="container4">
            <h2>User SignUp</h2>
            <a href="home.html" class="back-btn"><i class="fas fa-arrow-left"></i> Back</a>
            <form id="signup-form" @submit.prevent="submitForm">
                <form id="signup-form">
                    <div class="form-row">
                        <label for="name">Enter Name:</label>
                        <input type="text" id="name" name="name" v-model="name" required placeholder="John Doe">
                    </div>
                    <div class="form-row">
                        <label for="email">Enter Email:</label>
                        <input type="email" id="email" name="email" v-model="email" required placeholder="johndoe@gmail.con">
                    </div>
                    <div class="form-row">
                        <label for="password">Enter Password:</label>
                        <input type="password" id="password" name="password" v-model="password" required>
                    </div>
                    <div class="form-row">
                        <label for="phone">Enter Phone Number:</label>
                        <input type="tel" id="phone" name="phone" v-model="phone" required>
                    </div>
                    <div class="form-row">
                        <label for="gender">Select Gender:</label>
                        <select id="gender" name="gender" v-model="gender" required>
                            <option value=""></option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <label for="age">Enter Age:</label>
                        <input type="number" id="age" name="age" v-model="age" required>
                    </div>
                    <div class="form-row">
                        <label for="nationality">Select Nationality:</label>
                        <select id="nationality" name="nationality" required v-model="nationality">
                            <option value="" disabled>Select Nationality</option>
                            <option v-for="country in countries" :value="country">{{ country }}</option>
                        </select>
                    </div>
                    <input type="submit" value="Submit">

                </form>
                <p>
                    <a href="login-user.html">Click here to login if you already have an account!</a>
                </p>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                name: '',
                email: '',
                password: '',
                phone: '',
                gender: '',
                age: '',
                nationality: '',
                countries: [
                    "Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua and Barbuda", "Argentina", "Armenia", "Australia",
                    "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin",
                    "Bhutan", "Bolivia", "Bosnia and Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina Faso", "Burundi",
                    "Cabo Verde", "Cambodia", "Cameroon", "Canada", "Central African Republic", "Chad", "Chile", "China", "Colombia",
                    "Comoros", "Congo (Congo-Brazzaville)", "Costa Rica", "Croatia", "Cuba", "Cyprus", "Czechia (Czech Republic)",
                    "Democratic Republic of the Congo", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt",
                    "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Eswatini (fmr. Swaziland)", "Ethiopia", "Fiji", "Finland",
                    "France", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Grenada", "Guatemala", "Guinea", "Guinea-Bissau",
                    "Guyana", "Haiti", "Holy See", "Honduras", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland",
                    "Israel", "Italy", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Kuwait", "Kyrgyzstan", "Laos",
                    "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Madagascar", "Malawi",
                    "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova",
                    "Monaco", "Mongolia", "Montenegro", "Morocco", "Mozambique", "Myanmar (formerly Burma)", "Namibia", "Nauru", "Nepal",
                    "Netherlands", "New Zealand", "Nicaragua", "Niger", "Nigeria", "North Korea", "North Macedonia", "Norway", "Oman",
                    "Pakistan", "Palau", "Palestine State", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland",
                    "Portugal", "Qatar", "Romania", "Russia", "Rwanda", "Saint Kitts and Nevis", "Saint Lucia", "Saint Vincent and the Grenadines",
                    "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore",
                    "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Korea", "South Sudan", "Spain", "Sri Lanka",
                    "Sudan", "Suriname", "Sweden", "Switzerland", "Syria", "Tajikistan", "Tanzania", "Thailand", "Timor-Leste", "Togo", "Tonga",
                    "Trinidad and Tobago", "Tunisia", "Turkey", "Turkmenistan", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates",
                    "United Kingdom", "United States of America", "Uruguay", "Uzbekistan", "Vanuatu", "Venezuela", "Vietnam", "Yemen", "Zambia",
                    "Zimbabwe"
                ]
            },
            methods: {
                submitForm() {
                    const formData = {
                        name: this.name,
                        email: this.email,
                        password: this.password,
                        phone: this.phone,
                        gender: this.gender,
                        age: this.age,
                        nationality: this.nationality,
                    };
                    // Send a POST request to the server
                    fetch('http://localhost:3000/userregistrations', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(formData)
                    })
                        .then(response => {
                            if (response.ok) {
                                console.log('Form submitted successfully');
                                location.href="login-user.html"
                                // Redirect to another page or display a success message as needed
                            } else {
                                console.error('Error submitting form');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            }
        });
    </script>

    </div>
</body>

</html>